.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.photoContainer {
  width: 100%;
  position: relative;
  /* background:url("../../../assets/top-1.jpg") no-repeat center;
  background-size: cover;
  height: 380px; */
}
.photo {
  width: 100%;
}
.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 1rem 1.5rem;
}
.title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: white;
}
.statistics {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.likes {
  font-weight: 500;
  color: white;
  line-height: 1.5rem;
  padding-right: 22px;
  background: url("../../../assets/heart-icon.svg") no-repeat right;
}
.comments {
  font-weight: 500;
  color: white;
  line-height: 1.5rem;
  padding-right: 22px;
  background: url("../../../assets/comment-icon.svg") no-repeat right;
}
.description {
  line-height: 1.5rem;
}
.seeMore{
  padding: 0.6rem 1.2rem;
  line-height: 1.5rem;
  background: #006DFE;
  color: white;
  align-self: flex-start;
}
.seeMore:hover,
.seeMore:active,
.seeMore:focus{
  background-color: #0E66DA;
}