.topPlaces__caption {
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.topPlaces__title {
  font-weight: 500;
  font-size: 2.1rem;
  position: relative;

}
.stopPlaces__title::after {
  display: block;
  content: '';
  width: 250px;
  height: 3px;
  color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}
.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 767px) {
  .top__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .top__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}